@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import "../../node_modules/js-datepicker/src/datepicker.scss";

html {
  box-sizing: border-box;
  background: #3767AD;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.calendar {
  font-style: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  &__button {
    background: black;
    color: white;
  }
}

.datepicker {
  max-width: 140px;
}

.drink {
  margin-top: 80px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__menu {
  margin: 10px 0 2px 0;
  }
  &__buttons {
  padding: 12px;
  font-size: 18px;
  min-width: 95px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  &--add {
    background-color: rgb(55, 177, 55);
    }
  &--del {
    background-color: rgb(255, 83, 83);
    }
  }
}

.bottom__button {
  margin: 15px 0 40px 0;
  height: 30px;
  min-width: 180px;
  border-radius: 6px;
  background: none;
}

.drink__glass {
  width: 340px;
  height: 340px;
  background: url('../assets/img/water-glass.svg') center center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  line-height: 70px;
  &--no {
    padding-top: 40px;
  }
}

.inputText {
  
  font-size: 20px;
  max-width: 340px;
  padding-bottom: 40px;
}