@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

html {
  box-sizing: border-box;
  background: #3767AD;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.drink {
  margin-top: 203px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drink__glass {
  width: 280px;
  height: 280px;
  background: url('../assets/img/water-glass.svg') center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 112px;
  line-height: 131px;
  &--no {
    padding-top: 40px;
  }
}

.drink__buttons--add {
  padding: 12px;
  font-size: 18px;
  min-width: 216px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  border: none;
  margin: 48px 0 37px 0;
}

.drink__buttons--del {
  padding: 12px;
  font-size: 14px;
  min-width: 180px;
  border: none;
  border-radius: 4px;
  background: white;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}